<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Video Game Articles</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <a routerLink="/spyro">
      <div class="media">
        <img src="assets/media/spyrort.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Spryo Reignited Trilogy</h5>
          <p>My scoop on the remastered version of what is likely my favorite game series of all time.</p>
        </div>
      </div>
    </a>

  </div>

</div>


<div class="container-fluid">
  <div class="row">

    <a routerLink="/crashracing">
      <div class="media">
        <img src="assets/media/crashracing.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Crash Team Racing Nitro-Fueled</h5>
          <p>One of the most anticipated games of 2019? It is for me! Here's what I know and am waiting for.</p>
        </div>
      </div>
    </a>

  </div>

</div>
