<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Who Rescued Who?</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">
        <img src="assets/media/preciousface.jpg" class="align-self-center mr-3" alt="tacos">
        <div class="media-body"><br>
          <h5 class="mt-0">A Broken Heart</h5><br>
          <p class="mb-0">When I first moved to Texas, my only friend for a few months was my puppy, Marshall. An
            Aussie from a farm not too far away, I had him for about 2 years. I loved him more than about anything in
            the world. Unfortunately, he grew up to be far too overprotective of me, and proved that I wasn't the right owner for him to
            give him his best life. With a heavy heart, I brought him back to his farm where he could live out his days
            with his real birth parents, and the wonderful family breeders that gave him to me.</p><br><br>
          <p class="mb-0">Despite knowing I did the right thing by him, it felt like I'd never get past it. I missed
            him, and I felt like a failure as a dog parent. A week or two later, my mom suggested I try to find a new
            dog. She knew me better than anyone else, and knew that I had a void to fill. At first I scoffed at the
            idea of a new dog, and just couldn't bring myself to even look. My mom then started bombarding me with
            pictures of dogs that were in need of rescue - many of them pets that were abandoned by the recent floods.</p><br>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="card text-center">

        <img src="assets/media/roadtrip.jpg" class="align-self-center mr-3" alt="..."><br>
        <div>
          <h5 class="mt-0">The Flood</h5><br>
          <p>Our area had recently been drenched with excessive downpours, and a lot of neighborhoods were devastated. Shelters were overflowing with animals that were left behind by owners that had to flee their homes
            because flood waters rose so high and quickly. My mom's old property took on so much water that they had to
            put bricks and cinder blocks on the yard furniture to keep it from floating away.</p><br><br>
          <p class="mb-0">I scrolled through the dogs needing rescue nearby because of the flooding, but I didn't feel
            excited about any of them. I didn't think I'd manage to bring myself to get another dog. That was, until,
            one particular dog showed up and caught my eye. A 10 month old Chow Chow, skinny from hunger with shaved
            fur from fleas & ticks, was left behind and found in one of the worst flooded areas. </p><br>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="card text-center"><br>
        <img src="assets/media/poolbear.jpg" class="align-self-center mr-3" alt="..."><br>

        <div class="media-body">
          <h5 class="mt-0">Love at First Sight</h5><br>
          <p>I grew up with a Chow Chow, and something clicked almost immediately when I saw this picture. He was at
            a rescue, and I decided to fill out an application. Part of me figured a dog as sweet-
            looking as this one would already be claimed or adopted, but shortly after reaching out to the rescue, I actually
            got a response. They were thrilled that I was interested in him, and wanted to set up a home meeting.</p>

          <br><br>

          <p>Before I knew it, the day came to meet this dog. An SUV
            pulled in the gate, and a lady got out. She greeted us, and explained that they like to meet the applicants
            that are interested in rescuing their dogs, and that we'd have a week to keep him to make sure he'd be a
            good fit. She went to open the car door, and helped this dog out of the car. They believe he had been
            injured by another animal, or even run over by a car, because he had back and tail injuries, so she was
            very careful to put him down. As soon as I saw his bright orange fur, and curious little face, I couldn't
            wait to meet him. The lady walked him over and introduced us. When he walked, he walked very calmly with
            one front paw in front of the other. I knelt down to pet him and his tail wagged delicately, and he leaned
            into my hand. If you've ever seen the movie, "How to Train Your Dragon," picture something like that. I
            instantly fell in love with him. We played for hours, and he even helped himself to the pool and went swimming!</p>
        </div>
      </div>

    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="card text-center"><br>
        <img src="assets/media/bearnpep.jpg" class="align-self-center mr-3" alt="..."><br>

        <div class="media-body">
          <h5 class="mt-0">Furever Home</h5><br>
          <p>Now, Bear is a spoiled, lazy, snuggly, sweet addition to the family, and has one cat and one Collie
            sibling. He loves to visit his Grandma, and he LOVES swimming in the pool! He makes new
            friends with every dog or cat he meets, and I couldn't be more proud to be his dog mom.</p>
        </div>
      </div>

    </div>
  </div>
</div>