<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Spyro: Reignited Trilogy</h1>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">

        <img src="assets/media/spyrogame.JPG" class="align-self-center mr-3" alt="tacos">
        <div class="media-body"><br>
          <h5 class="mt-0">Nostalgia At Its Finest</h5><br>

          <p The new trilogy came out in November, close to my birthday in December- so naturally this
            was the
            #1 PRIORITY of all birthday gifts for my quarter- century marker. When my sweet husband gave it to me a
            little early (watching me ravage the packaging like a
            famished pack of wolves), I was instantly overcome with the overwhelming joy of
            nostalgia as soon as I saw that little purple dragon.</p><br><br>

          <p class="mb-0">I popped the disc into my PlayStation and anxiously waited for the install to finish. I don't
            know what's longer: a new game install minute, or a treadmill minute. It's up in the air. Anyway, as soon
            as I heard that familiar intro music, my jaw dropped. I felt like I was 7 years old again.</p><br>

        </div>

      </div>
    </div>

  </div>

</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="card text-center">

        <img src="assets/media/george.jpg" class="align-self-center mr-3" alt="..."><br>

        <div>

          <h5 class="mt-0">Spryo: New & Improved</h5><br>

          <p>You guys, seriously. Watching the trailer for this gave me chills. CHILLS. I could only hope that the game
            itself lived up to my extremely high expectations. I had seen plenty of videos showcasing side-by-sides of
            the PS1 games compared to the
            upcoming PS4 remake, and I was ready to at last see for myself if all the hype was worth it.</p><br><br>

          <p class="mb-0">The dictionary defines, "Success," as the accomplishment of a purpose. Let me tell you. The
            Spyro Reignited Trilogy should replace that nonsense. Everything from the sounds, to the
            villains, even the individual blades of grass, and of course Spyro himself, is just incredible. The water
            glistens, you can torch (not touch- TORCH) the grass, and Moneybags looks just as repulsive as ever. In my
            opinion, the graphics and animation perfectly adapt Spyro to modern video game expectations, while still
            maintaining the cartoon whimsy of his old school PS1 adventures.</p><br>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">
        <img src="assets/media/spyroba.png" class="align-self-center mr-3" alt="..."><br>

        <div>

          <h5 class="mt-0">Highlights & Lowlights</h5><br>

          <p>Everyone remembers George, right? That adorable snow leopard from Spyro 2: Ripto's Rage? Sure
            enough he makes a comback in the PS4 game. NPC Tok's precious pet snow leopard is gone and Spyro has to
            bring him back. I have no idea why, but I've always loved doing that, "Quest," if you will. It definitely
            made me, "Aww," in the remake. He even meows like a cat. I need a George.
            Another
            improvement I have to mention that impressed me was in the first game. Every dragon you free has the same
            dialogue as in the original game (which 100% brought me back to the 90s), but their appearances are just
            beautiful. Being a painter, I love the dragons from the Artisan world. They mostly were all holding
            paintbrushes and had French berets- it reminded me of the originals and it cracks me up to see the
            non-pixelated versions of them.</p><br>

          <p class="mb-0">On the contrary, I did find a glitch in the first game that I actually had to abandon what I was doing and
            sort of reboot the entire game. Of course it happened RIGHT when I was about to defeat Gnasty Gnorc, too.
            Before you get to chase Gnorc himself, you have to chase that OBNOXIOUS little dragon egg thief. I did so
            the first time, but the second time I actually managed to ram him so I could get the key, and the key froze
            with him. Gnorc kept throwing fireballs (fire? plasma?) at me, though. I tried charging and flaming him,
            but nothing happened. I saved my progress where I could and just fully power- cycled my PS4 just to be on
            the safe side. After that I was able to get rid of Gnorc.</p><br>

        </div>
      </div>

    </div>
  </div>

</div>

