<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Oh Pasta, You're Always There for Us.</h1>
      <p>Raised in an Italian family, I've got plenty of recipes starring pasta to please your own family!</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <a routerLink="/chickenalfredo">
      <div class="media">
        <img src="assets/media/tacos.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Chicken Alfredo with Broccoli</h5>
          <p>My relatively fast recipe to create one of the most comforting pasta dishes of all time.</p>
        </div>
      </div>
    </a>

  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <a routerLink="/chickenalfredo">
      <div class="media">
        <img src="assets/media/tacos.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Chicken Alfredo with Broccoli</h5>
          <p>My relatively fast recipe to create one of the most comforting pasta dishes of all time.</p>
        </div>
      </div>
    </a>

  </div>
</div>




<div class="container-fluid">
  <div class="row">

    <a routerLink="/chickenalfredo">
      <div class="media">
        <img src="assets/media/tacos.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Chicken Alfredo with Broccoli</h5>
          <p>My relatively fast recipe to create one of the most comforting pasta dishes of all time.</p>
        </div>
      </div>
    </a>

  </div>
</div>
