#profile {
    width: 12rem;
    float: left;
    margin-right: 2%;
}

#kenia {
    width: 10rem;
    margin-left: 2%;
    float: right;
}

#engaged {
    width: 10rem;
    float: left;
    margin-right: 2%;
}

.aboutparagraphs {
    margin-bottom: 5%;
}

h1 {
    font-family: 'Prata', serif;
    font-size: 2.8rem;
    text-align: center;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    text-align: center;
}

.left {
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
}

.right {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;

}

.info {
    font-family: 'Prata', serif;
    font-size: 2.0rem;
    text-align: left;
    margin: 3%;
}

.optional {
    font-family: 'Prata', serif;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 3%
}

.ingredients {
    font-family: 'Prata', serif;
    font-size: .9rem;
    text-align: left;
    margin: 3%;
}
