<!-- <div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>About Me!</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="aboutparagraphs">

        <img id="profile" src="assets/media/profile.png" alt="...">

        <h5>Small Town Girl Livin' In a Big, Crazy World</h5>
        <p class="left">I was born and raised in Syracuse, NY (GO ORANGE!), and have since moved down to Texas. Growing
          up I've
          always been a gamer, ever since I was old enough to hold a PS1 controller. I grew up with divorced parents
          (as an only child for a few years), and had 1 gaming console at each house. At my Mom's I had a PS1, and
          there was an N64 at my Dad's. My first two games I ever played were Spyro the Dragon, and Donkey Kong 64
          when I got the special edition DK N64 for my 6th birthday. Oh, memories.</p>
        <p class="left">Growing up, I was fortunate enough to live in a city with some of the best food on Earth. I
          had it all; from the world- famous Dinosaur BBQ and Tully's Tenders, to my Dad's own BBQ, and of course my
          Grandmother's meatballs. I never really learned how to cook until I was older (as I was and still am a very
          clumsy chef), so my passion for cooking didn't really develop until I was in college and had to officially
          learn to be a grown up. Although, I did once try to cook on my own when I was about 12. My dad was away,
          but had shown me how to make cheeseburgers. Hungry and eager to make one myself, I decided to give it a
          shot. I formed the patty just fine, and stuck it in the pan. Everything went great until it was time for
          the cheese. I put a slice of American on there and sat back wondering how I was supposed to make it melt.
          Being too impatient to figure it out, I decided to flip the burger- yes- with the cheese on it, and I let
          that cook for a while. Needless to say, the pan was destroyed, and I was left without a lunch. </p>

      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="aboutparagraphs">

        <img id="kenia" src="assets/media/mekenia.jpg" alt="tacos">

        <h5>From the Nippy North to the Scalding South</h5>
        <p class="right">After high school, I decided it was time for a change- a fresh start somewhere. My Mom and
          Step
          Dad had
          moved down already and told me I should join them. Hating weather above 65 degrees, I immediately declined
          their invitation. I started college up North, but it just didn't feel right. I needed to make new friends
          and go on an adventure. After some reassurance from my Mom that Texas does in fact have air conditioning, I
          decided to give it a try. </p>
        <p class="right">About 2 days after the 30 hour drive down, I realized this was not a good fit for me. No.
          Nope. 103 degrees. Get out. I begged my Mom to help me move back up north, but she told me to stay and give
          things a chance. I reluctantly agreed, but my mind never really changed. I was ready to peace out until AT
          LAST I met a new friend, Kendra. She and I hit it off immediately and ended up like sisters. Before long,
          she invited me over to her house for dinner. Being honest now, Kendra literally was the very first Hispanic
          person I had ever met, so I was a little nervous going to her house where her family only spoke Spanish.</p>
        <br>
        <p class="right">When I got there, I couldn't believe I was ever nervous. Even though her parents spoke a
          completely different language, they couldn't have made me feel more welcome. Her mom, Nellie, made us a
          delicious dinner and we all sat down and chatted (with translations of course). Nellie after a while said
          something that made Kendra laugh. When she translated, she said that Nellie thought I would make a good
          match for her brother. We laughed and I didn't think much of it. Little did I know, that was the first time
          I heard someone mention the man who would later become my husband!</p>

      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="aboutparagraphs">

        <img id="engaged" src="assets/media/us4.jpg" alt="...">

        <h5 class="mt-0">I Fooled Around and Fell in Love</h5>
        <p class="left">When I eventually met my soon- to- be soul mate through Kendra, it was instant love. On our
          first date we
          both talked about our mutual dream of moving to the Rockies. Rather than feeling like I was being judged
          with every move as a potential suitor, I just felt like I could be myself. We even talked about dragons and
          other nerd stuff! Before long, we were boyfriend and girlfriend.</p>
        <p class="left">As we got to know each other, about our pasts, our likes, our dislikes, and our goals, he
          took a mental note of one of my childhood dreams. Being a HUGE aquarium & marine life advocate, I grew up
          fantasizing about an engagement at Disney World's Coral Reef restaurant (you know, like Danny Tanner in
          Full House!). I had never even been to Disney World until 2017, when we and his family planned a trip to
          go. </p>
        <br>
        <p class="left">I had a feeling he'd pop the question there, what better opportunity to do it than the most
          magical, happiest place on Earth? It probably also gave it away that I could see the outline of a ring box
          through the outermost pocket of his backpack (you goof!). One night we were there, we strayed away from the
          family for a romantic dinner at none other than the Coral Reef restaurant. It was already a dream come
          true. We even were seataed right next to the aquarium! While we ate, a huge manta ray (one of my FAVORITE
          oceanic creatures) majestically floated down and hung out by us throughout our entire meal. It was
          indescribable. He paid for our dinner and when we left, he walked me toward the pond just outside the
          restaurant. Romantically lit in an area that seemed quiet just for us, he asked me to be his wife. </p>
      </div>
    </div>
  </div>
</div>

 -->
