<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Oh, Sweet!</h1>
      <p>Ready for a delicious treat? Check out my dessert recipes for the perfect ending to any meal!</p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">


    <div class="col-sm-4">
      <a routerLink="/recipes/3">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/pbcookies.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Peanut Butter Cookies</h5>
            <p>These cookies are like potato chips... you can't have just one!</p>
          </div>
        </div>
      </a>
    </div>




    <div class="col-sm-4">
      <a routerLink="/recipes/4">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/mousse.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Oreo Chocolate Mousse</h5>
            <p>What could make the silky greatness of mousse even better? Making it with Oreo cookies!</p>
          </div>
        </div>
      </a>
    </div>



    <div class="col-sm-4">
      <a routerLink="/recipes/3">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/pbcookies.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Peanut Butter Cookies</h5>
            <p>These cookies are like potato chips... you can't have just one!</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
