<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>{{recipe.name}}</h1>

      <a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/"></a>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-6">
      <div class="card text-center">
        <img src="{{recipe.intro1_image}}" class="align-self-center mr-3 recipe-img" alt="...">
        <div class="media-body">
          <h5 class="mt-0">{{recipe.intro1_title}}</h5>
          <p>{{recipe.intro1_body}}</p>
        </div>
      </div>
    </div>

    
    
    <div class="col-sm-6">
      <div class="card text-center">
        <img src="{{recipe.intro2_image}}" class="align-self-center mr-3 recipe-img" alt="tacos">
        <div class="media-body">
          <h5 class="mt-0">{{recipe.intro2_title}}</h5>
          <p>{{recipe.intro2_body}}</p>
        </div>
      </div>
    </div>
    
    
  </div>
</div>


<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">

      <p class="info">What You'll Need</p>

      <p class="optional">Prep: {{recipe.prep_time}} <br>
        Yield: {{recipe.yield}}
      </p>

      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ingredient}}
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">

      <p class="info">How To Make It</p>

      <ol>
        <li *ngFor="let step of recipe.instructions">
          {{step}}
        </li>
      </ol>
    </div>
  </div>
</div>
