<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Hungry?</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">



    <div class="col-sm-6">
      <a routerLink="/quick">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/tacos.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Quick & Easy</h5>
            <p>In a hurry and need something fast and simple for a busy weeknight? Check out these recipes
              that
              should all take 30 minutes or less to make!</p>
          </div>
        </div>
      </a>
    </div>


    <div class="col-sm-6">
      <a routerLink="/snacks">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/caprese2.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Apps & Snacks</h5>
            <p>Impress the crowd at your next gathering! I've got you covered- these apps are easy and will have
              guests
              wanting more!</p>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>




<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <a routerLink="/pasta">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/pasta.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Pasta</h5>
            <p>In the mood for some comfort food? I always am! Whether you want something classic or cheesy, you'll
              find all the best pasta recipes here!</p>
          </div>
        </div>
      </a>
    </div>



    <div class="col-sm-6">
      <a routerLink="/dessert">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/crepe.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Dessert</h5>
            <p>Sweet treats! From simplistic to more intricate recipes, I have plenty of desserts that'll have you
              licking the plate clean!</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
