<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Oy, Monday again...</h1>
      <p>Exhausted from the inevitable long haul of a classic Monday (or any work day)? Check out these quick and
        simple recipes that'll satisfy your hunger in no time!</p>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">


    <div class="col-sm-4">
      <a routerLink="/recipes/1">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/tacos.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Chicken Tacos</h5>
            <p>My husband's quick weeknight creation to bring some flavor and culture to your plate.</p>
          </div>
        </div>
      </a>
    </div>




    <div class="col-sm-4">
      <a routerLink="/recipes/6">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/pestochicken2.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Pesto Chicken Tenders</h5>
            <p>Relatively healthy, but hot and deliciously cheesy!</p>
          </div>
        </div>
      </a>
    </div>




    <div class="col-sm-4">
      <a routerLink="/recipes/1">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/tacos.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Chicken Tacos</h5>
            <p>My husband's quick weeknight creation to bring some flavor and culture to your plate.</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
