<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>A Man and His Cat</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">
        <img src="assets/media/rickyfiggy.jpg" class="align-self-center mr-3" alt="tacos">
        <div class="media-body"><br>
          <h5 class="mt-0">First Impressions</h5><br>
          <p class="mb-0">Back when I first met my husband, the day came where he had to meet my parents. We were nervous, as my mom is very protective of me, and this was a new guy she had never met in a place I had just moved to. We got there and I introduced my boyfriend to her. Things went well, but the subject changed quickly when she got a call from the neighbors down the road. He said we needed to get down there in a hurry, as he found something that belonged to my mom. </p><br><br>
          <p class="mb-0">We hopped on the golf cart (my parents had a monster truck- wheeled golf cart for cruising the neighborhood), and went down to the neighbors'. When we got there, he asked if my mom's cat, Figaro, had gotten out lately. She sounded worried and said that he hadn't since a few months prior when he ran away for a night or two. Her neighbor laughed and said, "Well- he left something behind!" and held out his hands. He opened them to reveal a pint- sized kitten that looked IDENTICAL to my mom's cat! My mom looked at me, gave me that- *NO*- look, then asked my boyfriend, "Hey... you ever want a cat?"</p><br>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="card text-center">

        <img src="assets/media/fatherson.jpg" class="align-self-center mr-3" alt="..."><br>
        <div>
          <h5 class="mt-0">A Spitting Image</h5><br>
          <p>In the blink of an eye, my boyfriend had a new kitten. He was ADORABLE, and I definitely recall fighting him for custody. That little kitty was sweet and snuggly, and instantly clicked with both of us (good thing we got married- what's mine is yours!).</p><br><br>
          <p class="mb-0">I had grown up with cats, but my boyfriend had never had one. He was so excited, and it was easy to tell this kitty was his new baby. He named him Mordecai, but, "Mini- Fig," (after my mom's cat) is the name that stuck. For short, we call him Figgy. Nowadays, he went from fitting in the palm of your hand, to a 14- pound fluffy, happy, lazy cat.</p><br>
        </div>

      </div>
    </div>
  </div>
</div>

