<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <iframe id="foodtasting" width="560" height="315" src="https://www.youtube.com/embed/k8xXgivkANM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

        <br>

        <h1>Bear & Pepper Try Food</h1>
        <p>It can be stressful to try new food, so just leave it to the dogs! In this video, two of the cutest food critics in the world take on the challenge themselves. You'll see my Chow Chow, Bear, and my Rough Collie, Pepper, trying the following food:</p>

        <ol>
          <li>Beef Patty</li>
          <li>Crunchy Treat</li>
          <li>Peanut Butter</li>
          <li>Lime</li>
          <li>Cheese</li>
        </ol>

        <p>You'll note that when it's Bear's turn to try new food, Pepper's crying can be heard in the background. Don't mind that jealous little princess, she's just upset that her brother's around the corner eating without her! Don't worry though, she got plenty of treats once it was her turn!</p>
    </div>
  </div>
</div>