<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Stream Life</h1>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">

        <img src="assets/media/together.jpg" class="align-self-center mr-3" alt="tacos">
        <div class="media-body"><br>
          <h5 class="mt-0">So Much Tech</h5><br>

          <p class="mb-0">So if you’ve ever considered streaming before, you likely did some research and noticed how
            much technology is involved. Depending on what gaming platform you use (if you stream for gaming) you
            need a capture card, you need some kind of streaming software, a decent microphone, webcam, etc. It’s
            intimidating at first, and can deter a lot of would- be streamers from ever getting into the swing of it.
            The bills rack up pretty quickly for streaming equipment if you go all- out, and that can cause a
            headache too. </p><br><br>

          <p class="mb-0">I started somewhat simplistically and streamed straight from my PC. It was easy enough to
            just download Streamlabs OBS and use window capture to stream Overwatch gameplay. I started out
            playing with a friend, but as we created social media accounts and dove deeper into the gaming
            community, we both quickly started making a lot of friends. Before we knew it, we had multi- streams
            happening with groups of other streamers/ gamers!</p><br>

        </div>

      </div>
    </div>

  </div>

</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="card text-center">

        <img src="assets/media/fignme.jpg" class="align-self-center mr-3" alt="..."><br>

        <div>

          <h5 class="mt-0">Going With the Flow</h5><br>

          <p>Streaming isn’t like any other form of entertainment. I’ve performed in musicals and plays, band concerts
            and dance recitals, but livestreaming digitally for an audience you can’t see is wildly different. I
            personally stream using a webcam so my audience can see me. Although plenty of people stream without, I prefer being able to watch a broadcaster’s expressions as they laugh or rage. It makes the
            experience of watching a stream more entertaining for me, so that’s what I try to do for my own viewers.</p><br><br>

          <p class="mb-0">While streaming, it looks like all fun and games- and it is- just with some added techniques.
            For example, yes of course the overall objective is to have a good time and play a game while others can
            enjoy it with you (if you do gaming streams). There is, however, a balance between relaxing while just
            playing a game, and interacting with your audience. I love as big an audience as I can get, so for me it’s
            absolutely imperative that I try my best to respond to chat messages and keep talking throughout the stream.
            I'm pretty adamant that my viewers never listen to silence during gameplay. Everyone has their own stream style though, and every
            viewer has preferences on commentary, but I love to talk and joke, so I try to keep my streams bubbly and
            humorous.</p><br>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">
        <img src="assets/media/screenshot.png" class="align-self-center mr-3" alt="..."><br>

        <div>

          <h5 class="mt-0">From Start to Finish</h5><br>

          <p>My stream is set up to have an intro before I go on so that my followers get the update that I’m live and
            have a little time to hop on Twitch before I actually begin. Once I start, it’s easy to forget
            to check chat, but thankfully one of my mods- and even my husband- will text me and remind me to respond.</p><br>

          <p class="mb-0">When I’m playing a game, I always try to remember how my emotions and actions will affect my
            audience. For example, there was a jump in the first game of the Spyro Reignited Trilogy that I just could not get past. 
            Before I react, I need to remember that people are watching me. If I get frustrated and rage, are my
            viewers going to be turned off, or will they think it’s funny? Over time it starts to come naturally as you figure out
          what sorts of reactions to events in a game your specific audience will respond best to.</p><br>

          <p class="mb-0">It can be a little nerve- racking at first to get into streaming, but once you get going it's so much fun. If you
          really commit to it, it can become a good way to make some extra cash, too! Stay tuned for more articles on how to become and remain a 
          Twitch affiliate.</p><br>

        </div>
      </div>

    </div>
  </div>

</div>
