
body {
    background-image: url("assets/media/wood.png")

}


.navbar {
    background-color: rgb(173, 173, 216)!important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(119, 71, 141);
    font-family: 'Prata', serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}


a:hover {
    color: #cecece;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: white;
}

.navbar-brand {
    font-family: 'Rochester', cursive;
    font-size: 2rem;
    text-decoration: none;
    
}

#logo {
    width: 10rem;
    margin-left: 0!important;
}

h1 {
    font-family: 'Prata', serif;
    font-size: 3rem;
    text-align: center;
}

h2 {

    font-family: Parisienne;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2%;

}

h3 {
    font-family: 'Prata';
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2%;
}

p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    text-align: center;
    color: black;
}


