<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Chicken Tacos</h1>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="media">
        <img src="assets/media/tacochicken.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">An Easy Take on an All- Time Favorite</h5>
          <p>My husband, who grew up in Mexico, always knows how to make the best tacos- delicious tacos with marinated
            meats, fresh produce, and homemade tortillas. Said tacos usually take hours or more to prepare, leaving us
            too drained to partake in our beloved Taco Tuesdays. </p>
          <p class="mb-0">Thankfully, he found a way to incorporate some fresh Mexican flavors into a 20- minute
            chicken taco so we can enjoy our favorite tortilla- wrapped cuisine any night of the week!</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="media">

        <div class="media-body">
          <h5 class="mt-0">The Breakthrough</h5>
          <p>Inspired by our attempts to get healthier, one night he substituted our typical taco beef with some pan-
            seared chicken. The first time around, caught up in our time- crunched, health- conscious minds, they
            weren't as exciting as the usual meaty tacos we're accustomed to.</p>
          <p class="mb-0">I had the idea to, "Dress up," the tacos in some fabulous (and healthy) toppings. One Taco
            Tuesday later and we were in business! Fresh pico de gallo, creamy avocado, salsa verde, and yep- even a
            bit of cheese made these almost- diet tacos worthy of our pallets.</p>
        </div>
        <img src="assets/media/tacos.jpg" class="align-self-center mr-3" alt="tacos">
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">

      <p class="info">What You'll Need</p>

      <p class="optional">Meal Prep: 20 mins <br>
        Yield: 4 tacos
      </p>

      <ul>
        <li>4 boneless skinless chicken breast tenders</li>
        <li>Salt and pepper to taste</li>
        <li>2 TBSP vegetable oil (separated in half)</li>
        <li>1 TBSP creole seasoning (Our favorite is Tony's)</li>
        <li>4 White corn tortillas (Our go to: Guerrero's)</li>

      </ul>
      <p class="optional">Optional toppings:</p>
      <ul>
        <li>1 Sliced avocado</li>
        <li>4oz Pico de gallo</li>
        <li>1 pinch Cojita cheese (per taco)</li>
        <li>Drizzle of salsa verde (per taco) Check out our fave: Herdez</li>
        <li>Fresh- squeezed lime juice (to taste)</li>
      </ul>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">

      <p class="info">How To Make It</p>

      <ol>
        <li>Grab a good size non- stick pan, drizzle with one portion of oil, and put it on the stove over med-low
          heat. </li>
        <li>My husband has cooked the chicken two different ways. You can either cut the chicken into bite- sized
          pieces, or using a knife you can carefully slice each tender vertically down the middle, about halfway
          through the breast, and cook them whole. Prepare your chicken accordingly.</li>
        <li>Sprinkle the chicken with the creole seasoning and place in the pan.</li>
        <li>If you broke up the chicken, cook while stirring occasionally. If you cook the tenders whole, flip them
          once or twice until they have a golden- brown color, and keep the pan covered.</li>
        <li>Just before the chicken is done, heat up a comal (or another large pan), and drizzle with the remaining oil
          and set over medium heat.</li>
        <li>While the chicken finishes cooking, place the tortillas in the comal/pan and cook on both sides until they
          obtain a slightly golden color.</li>
      </ol>

      <p class="optional">To Assemble:</p>
      <ol>
        <li>Place fried tortillas on a plate- just watch out as they'll be hot!</li>
        <li>Spread around chicken evenly if cooked in pieces, or place 1 tender in the center of each taco.
        </li>
        <li>Prepare your toppings and add as much as you like!</li>
      </ol>

      <p class="optional">Pro Tip: If you're using some fresh pico de gallo, try popping it in the microwave for about
        30 seconds to a minute and
        try pico a new way!</p>

    </div>
  </div>
</div>