<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Chicken Alfredo with Broccoli</h1>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="media">
        <img src="assets/media/tacochicken.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">From Humble Beginnings</h5>
          <p>This recipe started out in college, when it was cheap to buy pasta, chicken, and add some heavy cream and parmesan. For years since then,
          I've been working to perfect it, and at last I believe my recipe is ready to share with the world!</p>
          <p class="mb-0">Creamy, cheesy, and oh so comforting, this recipe is NOT okay for you to make if you're trying to eat healthy. The only
          healthy thing about it is the broccoli I add... but it is SO worth it on a cheat day!</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="media">

        <div class="media-body">
          <h5 class="mt-0">Not Your Average Alfredo</h5>
          <p>I'm sure you've seen plenty of Alfredo recipes. There are Southern versions that start with a roux, some that use heavy cream, and even
           some that use cream cheese. Well, my recipe incorporates a lot of ingredients, and some may not even seem like a traditional, "Alfredo". Perhaps not, 
          but if it's not delicious I don't know what is.</p>
          <p class="mb-0">Overall, this recipe is pretty easy to make. It's best served with cheesy garlic bread, so I strongly suggest having some 
          on hand before cooking!</p>
        </div>
        <img src="assets/media/tacos.jpg" class="align-self-center mr-3" alt="tacos">
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">

      <p class="info">What You'll Need</p>

      <p class="optional">Meal Prep: 25-30 mins <br>
        Yield: 8-10 servings (Italian size!)
      </p>
      
<p class="optional">Chicken:</p>
      <ul>
        <li>8-10 boneless skinless chicken breast tenders</li>
            <li>Salt to taste</li>
            	<li>Pepper to taste</li>
            	<li>½ tbsp garlic powder</li>
            	<li>1 tsp lemon pepper seasoning</li>
            	<li>1 tsp paprika</li>
            	<li>½ tbsp dried Italian seasoning</li>
		<li>1 tbsp extra virgin olive oil</li>

      </ul>
      
      <p class="optional">Pasta:</p>
      <ul>
        <li>1 box Barilla fettuccine</li>
            	<li>½ tbsp extra- virgin olive oil</li>
            	<li>1 tbsp salt</li>
            	<li>1 bag frozen broccoli florets</li>
      </ul>
      
      <p class="optional">Sauce:</p>
      <ul>
        
        <li>1 tsp extra- virgin olive oil</li>
            	<li>¼ cup dry white wine</li>
            	<li>½ tbsp minced garlic</li>
            	<li>12 oz heavy whipping cream</li>
            	<li>½ tsp salt (or to taste)</li>
            	<li>½ tsp pepper (or to taste)</li>
            	<li>1 moderate pinch dry Italian seasoning</li>
            	<li>6 oz Pecorino Romano (or grated parmesan)</li>
            	<li>¼ fresh lemon for juice</li>
		<li>(optional: fresh parsley for garnish)</li>
		<li>(optional: serve with garlic bread)</li>
      </ul>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">

      <p class="info">How To Make It</p>

      <ol>
        <li>Fill a pot about ¾ of the way with water and put on the stove. Add salt and olive oil, then crank that heat up high so it comes to a boil.</li>
        <li>Drizzle olive oil for the chicken into a big, non-stick pan. Turn burner on medium heat.</li>
        <li>Carefully cut chicken into bite- sized pieces (or larger, if you prefer). Season with salt, pepper, garlic powder, and lemon pepper. Transfer to pan, and let it cook for about 3-4 minutes until the bottoms of the chicken start to turn golden- brown.</li>
        <li>Once the water is boiling, gently add the fettuccine to the pot, and cook according to instructions (or to texture preference). When the noodles are flexible but still have a lot of bite to them, add the frozen broccoli directly into the pot with the pasta.</li>
        <li>Sprinkle paprika and italian seasoning in the pan once you see some juice expelled from the chicken. Continue to cook on medium heat, covered and stirring occasionally, until the chicken is cooked all the way through. If the chicken starts to cook through too fast before the pasta is ready, lower the heat to a light simmer and uncover.</li>
        <li>To start the sauce, grab a sauce pan or small pot and put it on med heat over the stove. Drizzle in the olive oil, and add the white wine until it reduces to about ½.</li>
     
      <li>Add the garlic to the sauce, constantly stirring until fragrant- this should only take about 10 seconds or so. Pour in the heavy cream, then season with salt and pepper. Raise the heat to med-high, and let the cream come to a gentle boil. </li>
        <li>Once the cream is bubbling, add the cheese in small increments until you reach your desired sauce consistency, stirring steadily. Add in the Italian seasoning, and squeeze the lemon juice into the sauce, stirring and tasting until the acidity from the lemon is able to subtly cut through the richness of the sauce. </li>
          <li>When the pasta is cooked to your liking, very carefully strain it to dump out all the water. Return the pasta to the pot, and add the cooked chicken - including its juices. Carefully pour in the sauce, and stir it well to mix the pasta, broccoli, and chicken together evenly. </li>
            <li>Optional: Pour the Alfredo into a serving dish and sprinkle with fresh parsley to garnish. Don’t forget to serve it with some garlic bread! </li>
      
      </ol>

      <p class="info">Serve it up hot with some garlic bread and enjoy!</p>

    </div>
  </div>
</div>
