

.row {
    margin-bottom: 2%;
}

.container-fluid {
    margin-top: 5%;
}

.jumbotron {
  background-image: url("/../assets/media/cooking.jpg");
  background-size: cover;
  background-position: fixed;
  padding: 12%;
}

.welcome {
  color: white;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  font-size: 4vw;
  margin-left: 14%;
  margin-bottom: 0;
}

.jumbotext {
  margin: auto;
}

.jumbologo {
  width: 80%;
  text-align: center;
  margin-left: 14%;
}

.carousel {
    width: 100%;
    align-self: center;
    margin: 0 auto;

}

.qotd {
  margin: auto;
}

.quotation{
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 10px 20px;
    line-height: 1.2;
    font-family: 'Abril';
  }
  
  .quotation:before {
    content: open-quote;
    display: inline;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
  }
  .quotation::after {
    content: close-quote;
    display: inline;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 3em;
  }
  .quotefooter {
    margin:0;
    font-family: 'Abril';
    text-align: right;
    font-size: 1.5rem;
    font-style: italic;
  }


.card {
background-color: transparent;
align-self: center;
margin: 0 auto;
border-width: 0;
background-color: rgba(255, 94, 0, 0.1);
margin-bottom: 2%;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color:  rgb(255, 94, 0);
}

.card.text 

.card-img-top {
    width: 71%;
}

