<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Fur Babies!</h1>
      <p>Not much can beat the satisfaction of pet memes and videos on the internet. Here are some of mine!</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">

      <a routerLink="/foodtasting">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/chomp.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Dogs Tasting Food</h5>
            <p>See what Bear & Pepper think about some new food!</p>

          </div>
        </div>
      </a>

    </div>



    <div class="col-sm-4">

      <a routerLink="/bearrescue">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/babybear.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">From Flood to Family</h5>
            <p>The Rescuing of Teddy Bear, the Chow Chow!</p>

          </div>
        </div>
      </a>

    </div>



    <div class="col-sm-4">

      <a routerLink="/figgystory">
        <div class="card text-center" style="width: 18rem;">
          <img src="assets/media/figgy.jpg" class="card-img-top png mx-auto d-block" alt="ochako">
          <div class="card-body">

            <h5 class="mt-0">Lost, then Found</h5>
            <p>The story of how we got our sweet kitty!</p>

          </div>
        </div>
      </a>

    </div>
  </div>
</div>