
<div class="container-fluid">
  <div class="row header">
    <div class="col-sm-12">
      <h1>Fur Babies</h1>
      <p>Not much can beat the satisfaction of pet memes and videos on the internet. Here are some of mine!</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <a routerLink="/foodtasting">
      <div class="media">
        <img src="assets/media/chomp.jpg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Dogs Tasting Food</h5>
          <p>See what Bear & Pepper think about some new food!</p>
        </div>
      </div>
    </a>

  </div>
</div>